body {
    font-family: "Roboto", sans-serif;
    background-color: #f9f9f9;

}

  
.nav-bar {
    overflow: hidden;
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
}


  
/* Style the search box inside the navigation bar */
.nav input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}


.outer-frame{
    display: flex;
    border: 2px solid black;
}


/*for planning*/
.video, .recommendations{
    border-radius: 10px;
    border: 2px solid black;
    margin: 2px;
    
    align-items: center;
    flex-direction: column;

}

.video{
    width: 70%;
}

#intro{
    border: 2px solid black;

}

.recommendations{
    width: 30%;
}

.recommendations div{
    border: 2px solid black;
    margin: 2px;
}

.vid img{
    width: 170px;
    height: 95px;
  vertical-align: top;
}

.sideDescription{
    display: inline-block;
  vertical-align: top;
}

.comment{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 2px;
}

.comment div{
    border: 2px solid black;
    margin: 2px;
}

