.topnav {
    background-color: grey;
    overflow: hidden;
}
  
/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}


.main {
    width: 98%;
    padding: 2%;
}

.video {
    float:left; 
    width: 60%;
    background-color: #ff0000;
}

iframe{
    text-align: center;
}

.comments{
    background-color: yellow;
    float:left; 
    width: 100%;
}

.recommendations{
    float: right;
    background-color: #00ff00;
    width: 30%;
}
.rec-thumbnail img {
    width: 50%;
    float: left;
}
.rec-thumbnail p {
    height: 100px; /* TODO: need to make this mobile*/
    text-align: top;
    border: 3px solid blue;
}